{
  "extends": "airbnb",
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "no-console": 0,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-undef": "off",
    "linebreak-style": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}
